PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/crewup?retryWrites=true&w=majority
CLERK_SECRET_KEY=your_clerk_secret_key_here
CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
CLIENT_URL=http://localhost:5173
NODE_ENV=development
ADMIN_EMAILS=admin1@college.edu,admin2@college.edu

